*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'proxima nova', sans-serif;
}
.container
{
    width: 100%;
}
.nav-bar
{
    padding-bottom: 1.5%;
    position: sticky;
    top:-30px;
    width: 100%;
    height: 15vh;
    background: white;
    display: grid;
    grid-template-columns: 20% 50% 15%;
    justify-content: space-around;
    /* box-shadow: 6px 6px 24px rgba(79, 87, 121, 0.1); */
    align-items: end;
    z-index: 3;
}
.logo
{
    display: grid;
    align-content: center;
    justify-items: center;
}
.logo img
{
    width: 60%;
}
.menu
{
    width: 100%;
    display: grid;
    align-content: center;
}
.menu ul
{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.menu ul li
{
    position: relative;
    display: grid;
    justify-items: center;
}
.menu ul li::after
{
    content: '';
    width: 0;
    height: 100%;
    top: 100%;
    position: absolute;
    opacity:0;
    background-image: url("images/underline@2x.png");
    background-size: 100% 100%;
    transition: all .5s;
}
.menu ul li:hover::after
{
    width: 100%;
    opacity: 1;
}
.menu ul li:nth-child(5):hover::after
{
  width: 30%;
}
.menu ul li:nth-child(4):hover::after
{
  width: 40%;
}
.menu ul li:nth-child(3):hover::after
{
  width: 80%;
}
.menu ul li:nth-child(2):hover::after
{
  width: 60%;
}
.menu ul li:nth-child(1):hover::after
{
  width: 60%;
}
.menu ul li a
{
    text-decoration: none;
    color: black;
}
.form
{
 display: grid;
 grid-template-columns: .5fr .5fr;
 /* grid-template-rows: 20%; */
 align-content: center;
 justify-items: center;
}
.form>a
{
    padding: 10px 15px;
  text-decoration: none;
  color: black;
}
.form>a:hover
{
  color: #00c8af;
  transition: all .5s;
}
.form>button
{
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    background: #00c8af;
    padding: 10px 15px;
    border: none;
    box-sizing: border-box;
    color: white;
}
.form>button:hover{
    background: black;
    color: #00c8af;
    transition: all .5s;
}
.form>button::after
{
    content: '';
position: absolute;
z-index: -1;
left: 5%;
top: 24%;
width: 100%;
height: 100%;
background-image: url("images/underline@2x.png");
}

/* ------------ */

/* header css */

.header
{
    width: 100%;
    height: 25vh;
    display: grid;
    align-content: space-evenly;
    justify-items: center;
}
.header>h1
{
    font-size: 2.5vw;
}
.header>p
{
    font-weight: 500;
    font-size: 1.2vw;
}

/* ------------ */

/* section1 css */

.section1
{
    width: 100%;
    height: 100vh;
    display:grid;
    grid-template-columns: 30% 65%;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: end;
}
.section1-left
{
    height: 60%;
    display: grid;
    align-content: space-around;
}
.section1-left>h1
{
    width: 85%;
    font-weight: 600;
    letter-spacing: .11em;
    font-size: 1.9vw;
}
.section1-left>p
{
    font-size: 1vw;
    width: 100%;
    line-height: 2em;
}
.cs-btn
{
    position: relative;
    width: 120px;
    height: 50px;
}
.cs-btn>a
{
    position: absolute;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    top: 0;
    padding: 10px 9px;
    background: #00c8af;
}
.cs-btn>a:hover
{
    color: #00c8af;
    background: black;
    transition: all .5s;
}
.cs-btn>img
{
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
   z-index: -1;
}

.section1-right
{
    position: relative;
    height: 100%;
}
.base3
{
    width: 100%;
    height: 80%;
    top: 10%;
    position: absolute;
}
.stat-wave
{
    position: relative;
    top: 47%;
    left: 21.1%;
    width: 60%;
    height: 33%;
    overflow: hidden;
    z-index: 0;
}
.grid
{
    position: absolute;
    top: 0;
    left: 0;
}
.graph-move
{
    width: 135%;
    height: 110%;
    position: absolute;
    top: 0;
    left: 0;
    animation: moveright 8s linear infinite forwards;
}
@keyframes moveright
{
    0%{transform: translateX(10%); opacity: 0;}
    10%{transform: translateX(5%); opacity: 1;}
    90%{transform: translateX(-15%); opacity: 1;}
    100%{transform: translateX(-25%); opacity: 0;}
}
.graph-move>img
{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.graph3
{
    position: absolute;
    height: 10%;
    transform: rotate(90deg);
    top: 70%;
    left: 15%;
    z-index: -1;
    animation: graph-anim .5s linear forwards;
}
@keyframes graph-anim
{
    from{top:70%; left: 15%; transform: rotate(90deg);}
    to{top: 70%; left: 2%; transform: rotate(0deg);}
}
.cir-org
{
    height: 25%;
    position: absolute;
    top: 10%;
    left: 65%;
    z-index: -1;
    animation: cir-org .5s linear forwards;
}
@keyframes cir-org
{
    from{top: 10%; left: 65%;}
    to{top: 10%; left: 80%; transform: rotate(180deg);}
}
.pie
{
    height: 10%;
    position: absolute;
    top: 20%;
    left:83%;
    animation: pie .5s linear forwards;
}
@keyframes pie
{
    from{height: 0%;}
    to{height: 10%;}
}
/* ----------- */

/* section2 css */


.section2
{
    width: 100%;
    height: 100vh;
    display:grid;
    grid-template-columns: 55% 40%;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: space-between;
}
.section2-left
{
    position: relative;
    height: 100%;
}
.base2
{
    width: 100%;
    height: 80%;
    top: 10%;
    position: absolute;
}
.section2-right
{
    height: 60%;
    display: grid;
    align-content: space-around;
}
.section2-right>h1
{
    width: 60%;
    font-weight: 500;
    line-height: 1.5em;
    font-size: 2vw;
}
.section2-right>p
{
    font-size: 1vw;
    width: 60%;
    line-height: 2em;
}
.base
{
    width: 100%;
    height: 100%;
    top: -10%;
    position: absolute;
}
.shadow
{
    width: 70%;
    height: 70%;
    position: absolute;
    z-index: -1;
    top: 20%;
    left: 15%;
}
.photo1
{
    width: 20%;
    position: absolute;
    left: 58%;
    top:10%;
    /* transform: matrix(1, 0, 0, 1, 0, 0); */
    transform: rotate(90deg);
    animation: rot .5s linear 1 forwards;
    opacity: 0;
    z-index: -1;
}
@keyframes rot
{
    from{transform: rotate(90deg); opacity:0 ; top: 10%;}
    to{transform: rotate(0deg); opacity:1; top: -5%;}
}
.photo2
{
    width: 20%;
    position: absolute;
    left: 77%;
    top:10%;
    transform: rotate(120deg);
    animation: rot .5s linear 1 forwards;
    opacity: 0;
    z-index: -1;
}
@keyframes rot
{
    from{transform: rotate(120deg); opacity:0 ; top: 10%;}
    to{transform: rotate(0deg); opacity:1; top: -5%;}
}
.image-container
{
    width: 58%;
    height: 65%;
    position: absolute;
    top: 21%;
    left: 23%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.image-slides
{
    width: 90%;
    height: 250%;
    animation: slide 10s linear infinite forwards ;
}
.image-slides>img
{
    width: 100%;
}
@keyframes slide
{
    from{transform: translateY(0px);}
    to{transform: translateY(-50%);}
}

/* ------------- */

/* section3 css */

.section3
{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: space-evenly;
}
.section3-left, .section3-right
{
    width: 100%;
    height: 50%;
}
.section3-left
{
    height: 45%;
    display: grid;
    align-content: space-between;
}
.section3-left>p
{
    font-size: 1.1vw;
    line-height: 1.7em;
    width: 70%;
}
.section3-right
{
    width: 85%;
    position: relative;
}
.api2-base
{
    width: 100%;
    height: 100%;
   
}
.api2-girl
{
    position: absolute;
    /* width: 100%; */
    height: 100%;
    left: 75%;
    z-index: 1;
}

.pink-dot
{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 13%;
    left: 79%;
    z-index: 0;
}
.cir-glow
{
    width: 15%;
    height: 23%;
    position: absolute;
    top: 5%;
    left: 73.5%;
    z-index: 0;
    opacity: .3;
    animation: cir-glow 3s linear infinite forwards;
}
@keyframes cir-grow
{
    0%{transform: scale(0.4); z-index: 2;}
    50%{z-index: 1;}
    100%{transform: scale(1); z-index: 0;}
}
.cir-glow>div
{
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: #EA80FC;
    animation: cir-fade 3s infinite linear forwards;
}
@keyframes cir-fade
{
    0%{opacity: 0;}
    20%{opacity: 1;}
    75%{opacity: 1;}
    95%{opacity: 0;}
    100%{opacity: 0;}
}
.cir-glow1
{
    /* animation: cir-fade 5s infinite linear forwards; */
    animation-delay: -1.5s !important;
}

.icons
{
    width: 24%;
    height: 40%;
    border-radius: 50%;
    position: absolute;
    top: 8%;
    left: 0%;
    overflow: hidden;
}
.icon
{
    animation: icon-anim 5s infinite linear forwards;
}
@keyframes icon-anim
{
    0%{transform: translateY(-30%);}
    50%{transform: translateY(30%);}
    100%{transform: translateY(-30%);}
}
.icons>.fb
{
    width: 8%;
    position: absolute;
    top: 15%;
    left: 25%;
    animation-delay: -10s;
}

.icons>.yt
{
    width: 15%;
    position: absolute;
    top: 40%;
    left: 70%;
    animation-delay: -5s;
}
.icons>.tw
{
    width: 15%;
    position: absolute;
    top: 55%;
    left: 15%;
    animation-delay: -3s;
}
.icons>.insta
{
    width: 15%;
    position: absolute;
    top: 65%;
    left: 60%;
    animation-delay: -8s;
}
.icon>img
{
    animation: img-anim 5s linear forwards infinite;
}
@keyframes img-anim
{
    0%{transform: translateX(-30%);}
    50%{transform: translateX(20%);}
    100%{transform: translateX(-30%);}    
}
.fb>img
{
    animation-delay: -2s;
}
.insta>img
{
    animation-delay: -5s;
}
.tw>img
{
    animation-delay: -4s;
}
.pac-box-orn2
{
    position: absolute;
    height: 100%;
    right: -10%;
    top: -10%;
    z-index: -1;
}

/* ---------- */

/* Section4 css */

.section4
{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: space-evenly;
}
.section4-left, .section4-right
{
    width: 100%;
    height: 50%;
}
.section4-left
{
    width: 85%;
    position: relative;
}
.section4-right>p
{
    font-size: 1vw;
    line-height: 1.7em;
    width: 70%;
}
.section4-right
{
    height: 45%;
    display: grid;
    align-content: space-between;
}
.section4-right>h1
{
    font-size: 2vw;
    font-weight: 500;
}
.api1-base
{
    width: 100%;
    height: 100%;
}
.api1-top
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.thumb
{
    position: absolute;
    top: 25%;
    left: 30%;
    width: 10%;
    height: 14%;
    overflow: hidden;
}
.thumb-left
{
    width: 50%;
    height: 200%;
    transform: translate(-50%, -50%);
    position: relative;
    top: 100%;
    left: 50%;
    animation: thum 5s linear infinite forwards;
}
@keyframes thum
{
    from{top: 100%; left: 50%;}
    to{top:-100%; left: 50%;}
}
.thumb-left>img
{
    width: 100%;
    height: 50%;
}
.thum-up
{
    position: absolute;
    top: 0;
}
.thum-down
{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(180deg);
}
.thumb1
{
    position: absolute;
    top: 25%;
    left: 43%;
    width: 10%;
    height: 14%;
    overflow: hidden;
}
.thumb-right
{
    width: 50%;
    height: 200%;
    transform: translate(-50%, -50%);
    position: relative;
    top: 100%;
    left: 50%;
    animation: thum 5s linear infinite forwards;
    animation-delay: 1s;
}
@keyframes thum
{
    from{top: 100%; left: 50%;}
    to{top:-100%; left: 50%;}
}
.thumb-right>img
{
    width: 100%;
    height: 50%;
}

.slider
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    align-content: space-around;
    grid-template-rows: 20% 40% 20%;
    justify-items: center;
    background: #FFE8EB;
}
.slider>img
{
    height: 100%;
}
.slider-inner
{
    overflow: hidden;
    display: flex;
    position: relative;
    width: 50%;
    height: 90%;
}
.labels
{
    background: black;
    position: absolute;
    bottom: 0px;
    left:50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    float: left;
}
.labels:nth-child(2)
{
    background: black;
    position: absolute;
    bottom: 0px;
    left:45%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    float: left;
}
.slide-switch
{
    display: none;
}
.slider-inner-detail-1
{
    /* display: inline-block; */
    position: absolute;
    top: 0;
    left: -100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:80%;
    text-align: center;
}
.slider-inner-detail-2
{
    /* display: inline-block; */
    position: absolute;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:80%;
    text-align: center;
}
.slider-inner-detail>h1
{
    text-align: center;
    color: black;
}
.slide-switch:checked+.labels+.slider-inner-detail-1
{
    opacity: 1;
    left: 0;
    transition-duration: 1s;
}
.slide-switch:checked+.labels+.slider-inner-detail-2
{
    opacity: 1;
    right: 0;
    transition-duration: 1s;
}
.slide-switch:not(:checked)+.labels+.slider-inner-detail-1
{
    opacity: 0;
}
.slide-switch:not(:checked)+.labels+.slider-inner-detail-2
{
    opacity: 0;
}

/* ------- */

/* Extra Animation Css */
.extra-animation
{
    position: relative;
    width: 100%;
    height: 50vh;
}
.extra-box
{
    z-index: 1;
    top: 20%;
    position: absolute;
    width: 50%;
    height: 120%;
}
.footer-base
{
    position: absolute;
    left: -5%;
    height: 100%;
}
.hrn-lines
{
    height: 8%;
    position: absolute;
    transform: rotate(25deg);
    top: 89%;
    left: 58%;
    animation: lines 1.5s linear infinite forwards;
}
@keyframes lines
{
    from{opacity:0}
    to{opacity:1}
}
.talk
{
    animation: img5 2s linear infinite forwards;
}
@keyframes img5
{
    0%{transform: translate(0px);}
    50%{transform: translateY(-20px);}
    100%{transform: translateY(0px);}
}
.talk-blank
{
    height: 18%;
    position: absolute;
    top: -5%;
    left: 35%;
    z-index: -1;
    
}

.talk-girl
{
    height: 18%;
    position: absolute;
    top: 85%;
    left: 0;
    animation-delay: -1.5s;
}
.talk-guy
{
    height: 18%;
    position: absolute;
    top: 30%;
    left: 59%;
    animation-delay: -1.3s;
}
.footer-wave
{
    position: absolute;
    z-index: 1;
    width: 31%;
    left: 10.5%;
    top: 50%;
    height: 14%;
    overflow: hidden;
}
.footer-wave>img
{
    position: absolute;
    left: 100%;
    height: 100%;
    animation: run 4s infinite linear;
}
@keyframes run
{
    from{transform: translateX(0%);}
    to{transform: translateX(-200%);}
}
.footer-wave .img2
{
    animation-delay: 2s;
}
.ea-graph-up
{
    position: absolute;
    top: 21%;
    left: 11%;
    width: 9%;
    z-index: 1;
    animation: bar 5s linear infinite forwards;
}
.ea-graph-dot
{
    width: 7px;
    height: 7px;
    background: white;
    position: absolute;
    border-radius: 50%;
    top: 19.5%;
    left: 19.5%;
    z-index: 0;
    animation: dot 5s infinite linear forwards;
}
@keyframes dot
{
    0%{opacity: 0;}
    60%{opacity: 0;}
    65%{opacity: 1;}
    95%{opacity: 1;}
    100%{opacity: 0;}
}
.ea-search
{
    width: 35%;
    height: 7.5%;
    position: absolute;
    background: #75dffc;
    border: 1px solid;
    overflow: hidden;
    top: 40%;
    left: 9%;
    border-radius: 15px;
}
.ea-search>img
{
    width: 55%;
    top: -1px;
    position: absolute;
}
.ea-search> .line
{
    width: 100%;
    position:absolute;
    left: 0;
    height: 1px;
    background: black;
    top: 50%;
}
.search-bar>img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
}
.search-bar
{
    position: absolute;
    width: 50%;
    top: 40%;
    left: 50%;
    animation: dot-move 3s infinite linear forwards;
}
@keyframes dot-move
{
    from{transform: translateX(-50px);}
    to{transform: translateX(30px);}
}
.ea-dots
{
    left: 33%;
    top: 15%;
}
.ea-dots .blink-dot-16
{
    visibility: hidden;
    animation-delay: -1s;
}
.ea-dots .blink-dot-15
{
    visibility: hidden;
    animation-delay: -1s;
}
.ea-dots-1
{
    top: -3%;
    left: 0;
    transform: rotate(180deg);
}
.blink-dots
{
    padding: 5px;
    width: 70px;
    height: 100px;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: rotate(180deg);
}
.blink-dots > .blink-dot
{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: blink 4s linear infinite forwards;
    transition: all 2s;
}
@keyframes blink
{
    0%{opacity: 0;}
    60%{opacity: 1;}
    80%{opacity: 1;}
    100%{opacity: 0;}
}
.blink-dot-2, .blink-dot-3, .blink-dot-4, .blink-dot-7, .blink-dot-8, .blink-dot-12
{
    visibility: hidden;
}
.blink-dot-1, .blink-dot-9, .blink-dot-11, .blink-dot-14, .blink-dot-15
{
    border: 1px solid;
}
.blink-dot-5, .blink-dot-10, .blink-dot-16
{
    background: #75dffc;
}
.blink-dots > .blink-dot-5
{
    animation-delay: .5s;
}
.blink-dots > .blink-dot-6
{
    animation-delay: .8s;
    background: #FF9792;
}
.blink-dots > .blink-dot-9
{
    animation-delay: 1s;
}
.blink-dots > .blink-dot-10
{
    animation-delay: 1.5s;
}
.blink-dots > .blink-dot-11
{
    animation-delay: 2s;
}
.blink-dots > .blink-dot-13
{
    animation-delay: 2.3s;
    background:#EA80FC;
}
.blink-dots > .blink-dot-14
{
    animation-delay: 2.5s;
}
.blink-dots > .blink-dot-15
{
    visibility: hidden;
}
.blink-dots > .blink-dot-16
{
    visibility: hidden;
}
.blink-dots-2
{
    left: 31%;
    top: 15%;
}




/* ---------- */

.contact
{
    
    width: 100%;
    height: 100vh;
    padding: 0 5%;
}
.contact-inner
{
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: #E7FEF8;
    display: grid;
    grid-template-rows: 15% 25% 40% 20%;
     justify-items: center;
     align-items: center;
}
.contact-inner .form
{
    
    width: 60%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.contact-inner>p
{
    width: 35%;
    text-align: center;
    font-weight: 500;
    line-height: 2em;
    font-size: 1.5vw;
}
.contact-inner>p>a
{
    text-decoration: none;
    color: #00c8af;
}
.contact-inner .form>input
{
    width: 46%;
    height: 20%;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 6px 6px 0px #a2edf9;
}
.contact-inner .form>input::placeholder
{
    padding-left: 3%;
    font-size: 1.3em;
    color: black;
}
.contact-inner .form>select
{
    box-shadow: 6px 6px 0px #a2edf9;
    border: 1px solid;
    width: 46%;
    height: 20%;
    border-radius: 10px;
}
.contact-inner .form>option:first
{
    font-size: 2em;
}
.submit
{
    width: 250px;
    height: 60px;
   position: relative;
}
.submit>a
{
    text-align: center;
    width: 95%;
    text-decoration: none;
    font-size: 1.3vw;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 20px;
    border-radius: 5px;
    background: #00c8af;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.submit>a:hover
{
    color: #00c8af;
    background: black;
    transition: all .5s;
}
.submit>img
{
    position:absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.cf-image
{
    position: absolute;
    width: 14%;
    height: 55%;
    right: 0;
    bottom: -5%;
}
.cf-image>img
{
    height: 100%;
    width: 100%;
}
.cf-image-in
{
    width: 85%;
    height: 38%;
    top: 32%;
    left: 8%;
    position: absolute;
}
.cf-image-in>img
{
    width: 100%;
}
.cf-img-icon
{
    position: absolute;
    width: 25%;
    height: 12%;
    animation: ic-move 3s ease-in-out infinite forwards;
}
@keyframes ic-move
{
    0%{transform: translateY(5px);}
    50%{transform: translateY(-5px);}
    100%{transform: translateY(5px);}
}
.cf-img-icon-1
{
    top:0;
    left: 45%;
}
.cf-img-icon-2
{
    top:14%;
    left: 5%;
    animation-delay: -.8s;
}
.cf-img-icon-3
{
    top:14%;
    left: 65%;
    animation-delay: -1.5s;
}


/* --------- */

/* Footer css */

.footer
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 35% 45%;
}
.footer-top
{
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.footer-top>img
{
    width: 20%;
}
.footer-top>p
{
    width: 30%;
    text-align: center;
    font-weight: 500;
    line-height: 1.5em;
    font-size: 1.5vw;
}
.footer-top>ul
{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.footer-top>ul>li>a>i
{
    color: #00c8af;
    font-size: 2em;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 6px 6px 0px #a2edf9;
    border: 1px solid black;
}
.footer-top>ul>li>a>i:nth-child(1)
{
    padding: 10px 15px;
}
.footer-top>ul>li>a>i:hover
{
    background: black;
    transition: all 1s;
}
.footer-seal
{
    top: 15%;
    left: 10%;
    position: absolute;
    width: 12%;
    height: 70%;
}
.footer-seal>img
{
    width: 100%;
    height: 100%;
}

.footer-bottom
{
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    grid-template-rows: 1fr;
    align-items: end;
    justify-content: space-evenly;

}
.footer-bottom-box
{
    height: 80%;
}
.footer-bottom-box>ul
{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}
.footer-bottom-box>ul>li>a
{
    font-size: .8em;
    text-decoration: none;
    color: black;
}
.footer-bottom-box>ul>li>a:hover

{
    color: #00c8af;
    transition: all .5s;
}
.footer>p
{
    position: absolute;
    top: 90%;
    left: 3%;
}